<%= form_with url: [@place, @place.comments.build], scope: :comment, local: true do |f| %>
  <div class="fields">
    Text: <%= f.text_area :body, class: 'form-control' %>
  </div>

  <div class="row mb-2">
    <div class="col-2">
      Quality of food: <%= f.select :food_quality, [1, 2, 3, 4, 5] %>
    </div>

    <div class="col-2">
      Service quality: <%= f.select :service_quality, [1, 2, 3, 4, 5] %>
    </div>

    <div class="col-2">
      Interior: <%= f.select :interior, [1, 2, 3, 4, 5] %>
    </div>
  </div>

  <%= f.submit %>

<% end %>
