<h1>Places</h1>

<div class="apple_pagination">
  <div class="page_info">
    <%= page_entries_info @places %>
  </div>
  <%= will_paginate @places, :container => false %>
</div>

<div class="row mt-5">
  <% @places.each do |place| %>
    <div class="col-3 border border-info rounded text-center pt-3">

      <div>
        <% if place.main_photo.attached? %>
          <%= image_tag place.main_photo.variant(resize: '150x150') %>
        <% end %>
      </div>

      <div>
        <%= link_to "#{place.title}", place_path(place) %>
      </div>

      <div>
        (<%= place.overall %>, <%= place.comments.count %> reviews) <br>
        <%= place.pictures.count + 1 %> photos
      </div>

    </div>
  <% end %>
</div>
