<div class="row">
  <div class="col-8">
    <h2><%= @place.title %></h2>

    <p><b> <%= @place.category.title %> </b></p>

    <p><%= @place.description %></p>
  </div>

  <div class="col-4 mt-4">
    <% if @place.main_photo.attached? %>
      <%= image_tag @place.main_photo, size: 100 %>
    <% end %>

  </div>
</div>


<div class="">
  <% if current_user == @place.user %>
    <%= link_to "Edit", edit_place_path(@place), class: 'btn btn-warning' %>

    <%= link_to 'Delete', place_path(@place),
      {
        data: { confirm: 'Are you sure?' },
        method: :delete,
        class: 'btn btn-danger'
      }
    %>
  <% end %>
</div>

<div class="row">
  <% if @place.pictures.attached? %>
    <% @place.pictures.each do |picture| %>
      <div class="col-1 m-4">
        <%= image_tag picture, size: 100 %>
      </div>
    <% end %>
  <% end %>
</div>

<hr>

<h2>Ratings</h2>

<p>Overall: <strong> <%= @overall %> </strong> </p>

<p>
  Quality of food: <strong> <%= @food_quality_average %> </strong><br>

  Service quality: <strong> <%= @service_quality_average %> </strong> <br>

  Interior: <strong> <%= @interior_average %> </strong>
</p>

<hr>

<h2>
  <%= link_to 'Reviews', "#comment-section#{@place.id}",
    {
      id: 'comment-link',
      data: { toggle: 'collapse' },
      role: 'button',
      aria: {
        expanded: 'false',
        controls: 'comment-section'
      }
    }
  %>
</h2>
<div id="comment-section<%= @place.id %>" class="collapse mb-5">
  <ol>
    <%= render @place.comments.order('created_at desc') %>
  </ol>

  <% if user_signed_in? %>
    <h3>Add review:</h3>
    <%= render 'comments/form' %>
  <% end %>
</div>
